<div class="app" style="display: flex; height: 100vh; overflow:scroll initial">
    <CDBSidebar textColor="#ffffff" backgroundColor="#333333">
        <CDBSidebarContent>
            <CDBSidebarMenu class="sidebar-content">
                <CDBSidebarMenuItem link='/' icon="columns" >
                    Inicio
                </CDBSidebarMenuItem>
                <CDBSidebarMenuItem link='/results' icon="table" >
                    Resultados
                </CDBSidebarMenuItem>
                <CDBSidebarMenuItem link='/bets' icon="user" >
                    Apuestas
                </CDBSidebarMenuItem>
                <CDBSidebarMenuItem link='/groups' icon="user" >
                    Grupos
                </CDBSidebarMenuItem>
                <CDBSidebarMenuItem link='/playoffs' icon="user" >
                    Play-Offs
                </CDBSidebarMenuItem>
                <CDBSidebarMenuItem link='/ruleset' icon="exclamation-circle" >
                    Reglamento
                </CDBSidebarMenuItem>
            </CDBSidebarMenu>
        </CDBSidebarContent>
    </CDBSidebar>
</div>