/* Ajustes contenedor*/
.container {
    background-color: #333; /* Color de fondo del contenedor */
    padding: 20px; /* Espacio interno alrededor del contenido */
    margin: 0 auto; /* Agregar esta línea para centrar el contenido */
    max-width: 100%; /* Establecer un ancho máximo para evitar que se extienda demasiado */
    max-height: auto;
    position: relative; /* Agregamos posicionamiento relativo para el control de paginación */
    min-height: 100vh; /* Establecer una altura mínima del contenedor igual al alto de la ventana */
    flex-direction: column; /* Alinear los elementos verticalmente */
    justify-content: center; /* Centrar verticalmente los elementos */
    
  }
  
  .container table {
    margin: 0 auto;
    max-width: auto;
    border-radius: 10px; /* Redondear las esquinas */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); /* Sombrear la tabla */
    padding-top: 10px; /* Añadir un padding en el top */
    color: #ffffff;
  }
  
  .container .text-center {
    /* Estilos para el contenedor de los controles de paginación */
    margin-top: auto; /* Moverlo hacia la parte inferior */
  }
  
  h2, label {
    color: #fff; /* Color de texto para los encabezados y etiquetas */
  }
  
  .table {
    background-color: #444; /* Color de fondo de la tabla */
    color: #fff; /* Color de texto de la tabla */
  }
  
  .btn {
    background-color: #555; /* Color de fondo de los botones */
    color: #fff; /* Color de texto de los botones */
  }
  
  .btn-primary,
  .btn-primary:hover,
  .btn-primary:focus {
    background-color: #0d3fac; /* Color de fondo del botón primario */
    border-color: #0d3fac; /* Color del borde del botón primario */
  }
  
  .btn-warning {background-color: orange; border-color: orange;}
  .btn-warning:hover,
  .btn-warning:focus {
    background-color: #ffc107; /* Color de fondo del botón de advertencia */
    border-color: #ffc107; /* Color del borde del botón de advertencia */
  }
  
  .btn-danger {background-color: red; border-color: red;}
  .btn-danger:hover {background-color: lightcoral; border-color: lightcoral;}
  .btn-danger:focus {
    background-color: #7c000c; /* Color de fondo del botón de peligro */
    border-color: #7c000c; /* Color del borde del botón de peligro */
  }
  
  .btn-success {background-color: #28a745; border-color: #28a745;}
  .btn-success:hover {background-color: lightgreen; border-color: lightgreen;}
  .btn-success:focus {
    background-color: #006618; /* Color de fondo del botón de éxito */
    border-color: #006618; /* Color del borde del botón de éxito */
  }
  
  
  .table tbody tr td input[type="button"] {
    background-color: #555; /* Color de fondo del botón "Seleccionar" en la tabla */
    color: #fff; /* Color de texto del botón "Seleccionar" en la tabla */
    border-radius: 10%; /* Redondear los bordes del botón "Seleccionar" */
  }
  
  .table tbody tr td input[type="button"]:hover,
  .table tbody tr td input[type="button"]:focus {
    background-color: #666; /* Color de fondo del botón "Seleccionar" en el estado hover o focus */
  }
  
  .icon-padding {
    padding-left: 2px; /* Ajusta el valor según tu preferencia */
  }
  
  .text-center .pagination {
    /* Estilos para el control de paginación */
    display: flex;
    justify-content: center;
    margin-top: 1rem;
  }
  
  .text-center .pagination li {
    /* Estilos para cada ítem del control de paginación */
    display: inline-block;
    margin-right: 3px;
  }
  
  .text-center .pagination a {
    /* Estilos para los enlaces del control de paginación */
    display: inline-block;
    background-color: #0d3fac; /* Color de fondo azul */
    color: #fff; /* Color de texto blanco */
    border-radius: 0.25rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombreado ligero */
    transition: background-color 0.3s, box-shadow 0.3s; /* Transición en los cambios */
  }
  
  .text-center .pagination a:hover {
    /* Estilos en el estado hover */
    background-color: #1976d2; /* Color de fondo azul más brillante */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombreado ligeramente más oscuro */
  }
  
  .text-center .pagination a.active {
    /* Estilos para la página activa */
    background-color: #0d3fac; /* Color de fondo azul */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombreado ligeramente más oscuro */
  }
  
  .text-center .pagination li.disabled a {
    /* Estilos para los enlaces deshabilitados */
    pointer-events: none; /* Deshabilita la interacción */
    opacity: 0.5; /* Reduce la opacidad */
  }
  
  .select-column {
    width: 5%; /* Establece un ancho mínimo para la columna */
    white-space: nowrap; /* Evita que el texto se divida en varias líneas */
  }
  
  .id-column {
    width: 5%; /* Establece un ancho mínimo para la columna */
    white-space: nowrap; /* Evita que el texto se divida en varias líneas */
  }
  